<nav class="navbar navbar-expand-lg navbar-dark bg-cbublue">  
  <%= link_to "CBU Logo", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <%= link_to "Map", map_path, class: "nav-link compact" %>
      </li>

      <li class="nav-item">
        <%= link_to "Courses", courses_path, class: "nav-link compact" %>
      </li>

      <li class="nav-item">
        <%= link_to "Rooms", rooms_path, class: "nav-link compact" %>
      </li>

      <li class="nav-item">
        <%= link_to "Displays", displays_path, class: "nav-link compact" %>
      </li>

      <li class="nav-item">
        <%= link_to "Artifacts", artifacts_path, class: "nav-link compact" %>
      </li>

      <li class="nav-item">
        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>