 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav nav-fill w-100 border border-light rounded">
      <li class="nav-item">
        <%= link_to "CBU Logo", root_path, class: "nav-link compact overlap-hor border border-light rounded" %>
      </li>

      <li class="nav-item">
        <%= link_to "Map", root_path, class: "nav-link compact border border-light rounded" %>
      </li>

      <li class="nav-item">
        <%= link_to "Rooms", rooms_path, class: "nav-link compact border border-light rounded" %>
      </li>

      <li class="nav-item">
        <%= link_to "Displays", root_path, class: "nav-link compact border border-light rounded" %>
      </li>

      <li class="nav-item">
        <%= link_to "Artifacts", root_path, class: "nav-link compact border border-light rounded" %>
      </li>

      <li class="nav-item">
        <%= link_to "Search", root_path, class: "nav-link overlap-hor border border-light rounded" %>
      </li>
    </ul>
  </div>
</nav>