<h1>Custom Operations</h1>

<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th class="shrink download">Type</th>
			<th class="shrink download">Download</th>
			<th class="shrink upload">Upload</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd">
			<td>
				<span class="show">EGR Master Spreadsheet</span>
			</td>

			<td>
				<%= link_to 'Download Current Sheet', download_records_path, class: "btn btn-default border rounded text-light" %>
			</td>

			<td>
				<%= form_with url: upload_records_path, id: "upload-form" do |f| %>
					<div class="form-group">
						<%= f.file_field :schedule_sheet, id: "upload-field", class: "text-light" %>
						<%= f.submit "Upload Sheet", class: "submit" %>
					</div>
				<% end %>
			</td>
		</tr>

		<tr class="even">
			<td>
				<span class="show">Record Update Sheet</span>
			</td>

			<td>
				<%= link_to 'Download Update Sheet', download_update_sheet_path, class: "btn btn-default border rounded text-light" %>
			</td>

			<td>
				<%= form_with url: upload_updates_path, id: "upload-form" do |f| %>
					<div class="form-group">
						<%= f.file_field :update_sheet, id: "upload-field", class: "text-light" %>
						<%= f.submit "Upload Sheet", class: "submit" %>
					</div>
				<% end %>
			</td>
		</tr>

		<tr class="odd">
			<td>
				<span class="show">QR Codes</span>
			</td>

			<td>
				<%= link_to 'Download QR Codes', download_qr_codes_path, class: "btn btn-default border rounded text-light" %>
			</td>

			<td>
			</td>
		</tr>

		<tr class="even">
			<td>
				<span class="show">Generate QR Code</span>
			</td>

			<td>
				<%= link_to 'Download QR Code', download_qr_code_path, class: "btn btn-default border rounded text-light" %>
			</td>

			<td>
				<%= form_with url: generate_qr_code_path, class: "form-inline" do |form| %>
				  <%= form.label :URL, class:"sr-only", for: "urlForm" %>
				  <%= form.text_field :URL, class:"form-control mb-2 mr-sm-2", id: "urlForm" %>

				  <%= form.submit "create", class:"btn btn-primary" %>
				<% end %>
			</td>
		</tr>

		<tr class="odd">
			<td>
				<span class="show">Delete All Records</span>
			</td>

			<td>
				<%= link_to 'Delete All Records', delete_all_records_path, class: "btn btn-danger", data: { confirm: 'Are you sure?'} %>
			</td>

			<td>
			</td>
		</tr>
	</tbody>
</table>