<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @course.title %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @course.course_id %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= @course.instructor %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @course.description %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= @course.room %>
  </p>
  <p>
    
    <%= @week.count %>
  </p>

  <%= render "partials/schedule" %>
</div>
